  <section id="content">

<section id="stock">
    <div class="bar ">
      <ul class="clearfix" >
      <li><a href="/stock?sort=rank"><span >Más Vendidos</span></a></li>
      <li><a href="/stock/categories"><span>Categorias</span></a></li>
      <li><a href="/stock?sort=old"><span>Antiguos</span></a></li>
      <li class="stockSearch">
        <span>
              <%= link_to 'Nueva Categoria', new_item_path %>

        </span>
      </li>
      </ul>
    </div>
    <div class="grid top50">
  <div class="full_contact">
    <ul id="avions" class="clearfix">
    <% @categories.each do |category| %>
          <li>
          <a href="/stock/categories/<%= category.slug %>">
        <%= image_tag("/assets/aviones/" + category.id.to_s + ".jpg") -%>
        <div class="info_avion">
        <span><%= category.description %> </span><br/>        
         </div></a>
      </li>

    <% end %>
    </ul>
    </div>
    </div>
  </section>
  </section>
  <link rel="stylesheet" href="/assets/css/cards.css">
