<div class="middle">
<h1>Registrar elemento al stock</h1>

<%= render 'form' %>


</div>
<%= link_to 'Back', items_path %>
<script>
	$(document).ready(function(){
		stock.utils.newItem();
	});
</script>