
  <div class="layout">
  <section class="float-rigth" id="cash">
  <!-- cash header -->
     <!-- cash header -->
    <div class="grid">
   		<h1>
   		Crunch card for the item
   		same card for the day
   		</h1>
    </div>
  </section>
</div>
  <div class="ticket" id="ticket">
      <p><span class="date">Editar articulo</span></p>
      <p id="notice"><%= notice %></p>

    <%= render 'form' %>
  </div>
    
  