<section class="float-rigth" id="cash">
<script>
 $("#box").focus();
</script>

  <!-- cash header -->
  <div class="header">
    <div class="banner">
      <img class="bigLogo" src="assets/img/logo.png">
    </div>
        <div class="search card clearfix">
    <input type="search" placeholder="Código de barras o descripcion" name="code" autofocus id="box">
    <button class="searchbutton" id="toogleSearch">
    </button>
    </div>

   <div class="card results" id="results">
    </div>
    </div>
     <!-- cash header -->
    <div class="grid">
    <div class="item">
      <strong class="number">#</strong>
      <strong class="code ">Código</strong>
      <strong class="description">Descripcion</strong>
      <strong class="saleI">Precio</strong></div>
    <ul id="list-items" class="clearfix">
    </ul>
    </div>
  </section>