 <div class="ticket" id="ticket">
  </div>
<div class="layout">
  <section class="float-rigth" >
<h1>
	Estadisticas de venta
	(github like)
</h1>

<h1>
	Total del dia
</h1>
<h1>
	# Articulos vendidos
</h1>

<h1>
	Distribucion del stock
</h1>

<h1>
	Articulos mas vendidos
</h1>

<h1>
	Estadisticas de hora y dia
</h1>
  </section>
</div>
 
    
