<%= @item.to_json%>

  <div class="layout">
  <section class="float-rigth" id="cash">
  <!-- cash header -->
  <div class="header">
    </div>
     <!-- cash header -->
    <div class="grid">
   
    </div>
  </section>
</div>
  <div class="ticket" id="ticket">
      <p><span class="date">Editar articulo</span></p>

    <%= render 'form' %>
  </div>
    
  