  <section id="content">

<script type="text/javascript" src="/assets/js/stockControler.js"></script>
<section id="stock">
    <div class="bar ">
      <ul class="clearfix">
      <li><span class="current">Más Vendidos</span></li>
      <li><span>Categorias</span></li>
      <li><span>Antiguos</span></li>
      <li class="stockSearch">
        <span>
              <%= link_to 'Nuevo Elemento', new_item_path %>

        </span>
      </li>
      </ul>
    </div>
    <div class="grid top50">
    <div class="little item">
      <strong class="number"><a href="/stock?sort=id">#</a></strong>
      <strong class="code ">Código</strong>
      <strong class="description">Descripcion</strong>
      <strong class="saleI">Precio</strong>
      <strong class="stock">Stock</strong>
      <a href="/stock?s=last_check"><strong class="update">Última venta</strong></a>
      </div>
    <ul id="list" class="clearfix">

    </ul>
    </div>
  </section>
  </section>