<html lang="es"><head>
  <meta charset="utf-8">  
  <head>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/fonts.css">
  
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/main.css">
    <link type="text/css" rel="stylesheet" media="screen and (max-width: 1024px)" href="/assets/css/mini.css">
       <script type="text/javascript" src="/assets/js/jquery.js"></script>



  </head>
  <div class="wrapper">

  <div class="main content clearfix" >
  <!--menu-->
  <nav id="nav" >
      <a href="info" id="logo" class="logo"></a>
      <ul id="nav-items" >

      <li>
        <a href="/" id="nav-search" url="cash" class="icon search-32 menu-item active">
        <span class="nav-text">Caja</span></a>
      </li>

      <li>
      <a href="/stock" id="nav-browse" url="product" class="icon browse-32 menu-item ">
      <span class="nav-text">Productos</span></a></li>
      <li><a href="/admin" class="icon discover-32 menu-item"><span class="nav-text">Administración</span></a></li>

      <li><a  href="/pays" class="icon follow-32 menu-item"><span class="nav-text">Pagos</span></a></li>


      <li><a  href="/users" url="users" class="icon radio-32 menu-item"><span class="nav-text">Usuarios</span></a></li>

      <li><a  href="/events" url="events" class="icon collection-32 menu-item "><span class="nav-text">Eventos</span></a></li>


      <li class="item-profile">
      <span id="user-name" class="nav-text"></span>

      </li>
      <a url=""><img id="profile-picture"/></a>
      

      </ul>

   
    </nav>
    </div>

  <div class="layout">

  <section id="content">
  <%= yield %>
  </section>

  </div>
  <div class="ticket" id="ticket">
    <% yield(:side) %>
  </div>

  </div>
</html>
      <script type="text/javascript" src="/assets/js/moment.js"></script>

  <script type="text/javascript" src="/assets/js/users.js"></script>

  <script type="text/javascript" src="/assets/js/models.js"></script>
         <script type="text/javascript" src="/assets/js/store.js"></script>


  <script type="text/javascript">
  $(document).ready(function(){
   });
  </script>

  