<html lang="es"><head>
  <meta charset="utf-8">  
  <head>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/fonts.css">
      <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/main.css">

    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/new.css">
    <link type="text/css" rel="stylesheet" media="screen and (max-width: 1024px)" href="/assets/css/mini.css">

    <link type="text/css" rel="stylesheet" media="screen and (max-height: 750px)" href="/assets/css/slug.css">


       <script type="text/javascript" src="/assets/js/jquery.js"></script>



  </head>

  <header class="fly">
       <a href="/"> <div class="upper" style="
    background-image: url(/assets/img/stocker.png);
"></div></a>
        
        <div class="search-bar-container">
            <div id="search-bar">
            <i class="search-icon" id="toogleSearch"></i>
          
               <input type="text" id="box" placeholder="C贸digo de barras o descripci贸n" value="<%= params[:q] %>">
            </div>
            <div class="card results" id="results">
                
            </div>
         </div> 
         

    </header>
     <nav class="euro">
        <div class="left link-co">
            <ul id="links"  class="links">
                <li><a class="active" href="/">
                <i class="icon-fly">Caja</i>
                </a></li>
                <li><a href="/items?sort=last">
                <i class="icon-dest">Stock</i>
                </a></li>
                <li><a href="/recargas" class="border-rigth">
                    <i class="icon-us">Recargas</i>
                </a></li>
                <li><a href="/admin/reports">
                    <i class="icon-prom">Administraci贸n</i>
                </a></li>
            </ul>
        </div>
        <div class="right link-coco">
            <ul class="commans">
                <li><a class="p66" href="/login"><i class="icon ">
                <% if (session[:current_user_id] != nil) %>
                    <% @usuario = User.find(session[:current_user_id]) %>
                    <%= @usuario.username %> 
                    <% else %>
                    <%= "Ingresar" %>
                    <% end %>
              </i> </a></li>
              <li><a href="/logout"><i class="icon">Cerrar Sesi贸n</i></a></li>

            </ul>
        </div>
    </nav>

  <div class="wrapper">

  <div class="main content clearfix" >
    <%= yield %>

    </div>


  

  </div>
</html>
      <script type="text/javascript" src="/assets/js/moment.js"></script>

  <script type="text/javascript" src="/assets/js/users.js"></script>

  <script type="text/javascript" src="/assets/js/models.js"></script>
         <script type="text/javascript" src="/assets/js/store.js"></script>


  <script type="text/javascript">
  $(document).ready(function(){
   });
  </script>

  